<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>982867737657-5df0grhllltt22hq09ocrgecneno5t1c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.982867737657-5df0grhllltt22hq09ocrgecneno5t1c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>982867737657-8vfvm773tedka35f4ilbv32sdat6fiu1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAg3FQxLTvtlYiAhaiQwT6kpFiYLau0h-M</string>
	<key>GCM_SENDER_ID</key>
	<string>982867737657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ainaqah.shop</string>
	<key>PROJECT_ID</key>
	<string>ainaqah-73bff</string>
	<key>STORAGE_BUCKET</key>
	<string>ainaqah-73bff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:982867737657:ios:aa9f805ea2cacba82ea1e8</string>
</dict>
</plist>